* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif ;
}

header {
    background-color: #333;
    color: #fff;
    padding: 0rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.login-btn {
    background-color: #ff4c4c;
    border-radius: 5px;
}

.hero {
    background-color: #d94141;
    color: white;
    text-align: center;
    padding: 4rem 2rem;
}

.hero h1 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.hero .btn {
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
}

.explore {
    text-align: center;
    padding: 3rem 1rem;
}

.explore h2 {
    margin-bottom: 2rem;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

.card h3 {
    margin-bottom: 1rem;
}

.card p {
    margin-bottom: 1.5rem;
}

.card .btn {
    background-color: #d94141;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 3rem;
    margin-top: 2rem;
}
